/**
* Admin Style Sheet
*/


/* Main Dashboard Container */
.std-dashboard {
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgb(255, 255, 255), 0 4px 8px rgb(255, 255, 255);
    max-width: 550px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}


.std-dashboard * {
    position: relative;
    z-index: 1;
}


.std-title {
    text-align: center;
    width: 100%;
    padding: 8px;
}

.std-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    /* Watermark size */
    height: 220px;
    transform: translate(-50%, -50%);
    background: url('../img/logo.png') no-repeat center center;
    background-size: contain;
    opacity: 0.50;
    /* Watermark transparency */
    pointer-events: none;
    z-index: 0;
}

.std-section {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #f8f8f8;
}

.std-section-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.std-btn {
    display: inline-block;
    background: #0073aa;
    color: #fff !important;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.std-btn:hover {
    background: #005f8d;
}

.std-balance-result {
    margin-top: 12px;
    padding: 10px 15px;
    background: #e8f5e9;
    border-radius: 6px;
    font-weight: 600;
}

.std-social-links {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.std-social {
    padding: 8px 14px;
    background: #0073aa;
    color: #fff !important;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s ease;
}

.std-social:hover {
    opacity: 0.85;
}

.std-facebook {
    background: #1877f2;
}

.std-whatsapp {
    background: #25d366;
}

.hidden {
    display: none;
}

.tab-content.std-admin-menu {
    background: #cfffda;
    padding: 10px;
}


.tab-content.std-admin-menu .submit .button-primary{
    background: #006400 !important;
    border-radius: 4px !important;
}

a.nav-tab.nav-tab-active {
    border-radius: 4px;
    background: white;
    color: #006400;
    border: none !important;
}

a.nav-tab {

    background: #006400;
    border-radius: 4px;
    color: white;
    border: none !important;
}

.nav-tab-wrapper,
.wrap h2.nav-tab-wrapper,
h1.nav-tab-wrapper {
    border-bottom: none !important;
}